.body-ele {
  background-color: #f8f8fa;
  color: #000000;
}

nav {
  background-color: #f8f8fa;
  color: #000000;
  padding: 20px;

  a {
    padding: 5px;
    color: #3f3f3f;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: underline;
  }
}

.current {
  text-decoration: underline;
}

.main-body {
  text-align: center;
  font-size: 25px;
  padding: 50px 50px;
}